*{
  margin: 0;
  padding: 0;
  font-family: verdana;
  box-sizing: border-box;
  color: white
}

:root{
  --primary-color: #1A1D2F;
  --secondary-color: #757B8D;
  --accent-color: #F39C12;
  --text-color: #CCCCCC;
  --subtle-bg: #FFFFF0;
  --subtle-border: #708090;
}

body{
  background-color: var(--primary-color);
  height: 3000px;
  padding-top: 50px;
}

.navigation{
  background-color: var(--primary-color);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
  z-index: 100;
}

.navigation .nav-toggle{
  cursor: pointer;
  width: 40px;
  fill: var(--accent-color);
}

.profile-image{
  width: 42px;
  height: 42px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid var(--accent-color);
}

.container-profile::after{
  content: "Ferdinand A. Samarro Jr.";
  position: absolute;
  line-height: 40px;
  left: 50px;
  font-size: 12px;
  text-overflow:ellipsis;
  overflow: hidden;
  text-wrap:nowrap;
}

.section-home{
  display: flex;
  gap: 10px;
}

.item1:hover{
  background-color: #8957E5;
}
.item2:hover{
  background-color: #0866ff;
}

.item3:hover{
  background-color: #136bc4;
}