@media (width <= 2560px) {
  /* NAVIGATION */
  .right-side{
    background-color: var(--secondary-color);
    position: fixed;
    right: -1000%;
    height: 400px;
    width: 250px;
    top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: left .4s;
    border-radius: 0 0 0 10px;
  }

  .container-profile::after{
    content: '';
  }

  .nav-list{
    display: flex;
    list-style: none;
    text-decoration: none;
    flex-direction: column;
    row-gap: 4rem;
    align-items: center;
  }

  .nav-list .link a{
    color: var(--subtle-def);
    text-decoration: none;
    font-size: 20px;
    font-family: Verdana;
    font-weight: bold;
  }

  .nav-list .link a:hover{
    color: var(--accent-color);
  }

  .right-side .nav-close{
    position: absolute;
    top: 0;
    right: 3px;
    width: 45px;
    cursor: pointer;
    color: var(--accent-color);
  }

  .show-menu{
    right: 0;
  }

  /* ARTICLE */
  .main-home{
    margin: 0 10px;
  }

  /* HOME */

  .section-home{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 55px;
  }

  .home-image{
    position: relative;
    display: grid;
    place-items: center;
    justify-self: center;
    padding-top: 30px;
  }

  .circle{
    background-color: var(--accent-color);
    width: 240px;
    height: 240px;
    border-radius: 50%;
    box-shadow: inset -1px 3px 10px 0.6px rgba(0, 0, 0, 0.842);
    display: grid;
    place-items: center;
  }

  .sub-circle{
    background-color: var(--subtle-bg);
    width: 180px;
    height: 180px;
    border-radius: 50%;
    box-shadow: inset 1px -1px 10px 0.1px rgba(0, 0, 0, 0.842);
  }

  .home-image .img{
    position: absolute;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    bottom: 50px;
  }

  .heading-section{
    padding: 0 10px;
  }

  .heading-section .name{
    font-size: 10px;
    text-align: center;
    margin-bottom: 10px;
    color: var(--text-color);
  }

  .heading-section .name span{
    color: var(--accent-color);
    font-size: 15px;
  }

  .heading-section .title{
    text-align: center;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 25px;
    color: var(--text-color);
  }

  .heading-section .abstract{
    color: var(--text-color);
    font-size: 10px;
    margin-top: 10px;
    text-align: center;
  }

  .button-bg{
    width: 130px;
    height: 40px;
    background-color: var(--subtle-bg);
    border-radius: 3px;
    align-self: center;
    position: relative;
    margin-top: 30px;
  }

  .button-talk{
    position: absolute;
    top: -4px;
    left: -4px;
    width: 130px;
    height: 40px;
    background-color: var(--accent-color);
    border-radius: 3px;
    border: 0.5px solid var(--accent-color);
    color: var(--primary-color);
    font-weight: bold;
    font-size: 15px;
  }

  .button-talk:active{ 
    top: 0px;
    left: 0px;
  }

  .website-section{
    align-self: center;
    width: fit-content;
    height: 40px;
    display: flex;
    gap: 14px;
    margin: 0 0 0 0;
    justify-items: center;
    align-items: center;
  }

  .website-section ul{
    display: flex;
    gap: 10px;
  }
  .website-section ul li{
    display: flex;
  }
  
  .github-line-img,
  .facebook-box-line-img,
  .linkedin-box-line-img{
    width: 30px;
    padding: 1px;
    fill: var(--text-color);
  }
  
  .item1,
  .item2,
  .item3{
    display: flex;
    background-color: var(--accent-color);
    border-radius: 5px;
    align-items: center;
  }
  
  .item1::after{
    content: 'GitHub';
    font-size: 0px;
    margin-right: 0px;
    height: auto;
    transition:font-size 0.3s ease, margin 0.3s ease;
  }
  
  .item2::after{
    content: 'Facebook';
    font-size: 0px;
    margin-right: 0px;
    height: auto;
    transition:font-size 0.3s ease, margin 0.3s ease;
  }
  
  .item3::after{
    content: 'LinkedIn';
    font-size: 0px;
    margin-right: 0px;
    height: auto;
    transition:font-size 0.3s ease, margin 0.3s ease;
  }

  .item1:hover::after,
  .item2:hover::after,
  .item3:hover::after{
    font-size: 15px;
    font-weight: bold;
    margin-right: 5px;
    color: var(--text-color);
  }

  /* ABOUT */

  .section1 .about-me-text{
    font-size: 30px;
    font-weight: bold;
    color: var(--text-color);
  }

  .section1 .about-me{
    font-size: 13px;
    color: var(--text-color);
  }

  .section2 ul{
    display: flex;
    margin-top: 17px;
    justify-content:start;
    gap: 15px;
    list-style: none;
  }

  .section2 ul li{
    position: relative;
    color: var(--text-color);
    font-size: 15px;
    cursor: pointer;
  }

  .section2 ul li::after{
    content: "";
    position: absolute;
    bottom: -3px;
    left: 1px;
    width: 0%;
    height: 3px;
    background-color: var(--accent-color);
    transition: width 0.3s ease;
  }

  .section2 ul li:hover::after{
    width: 80%;
  }

  /* SERVICE */
  /* .section2{
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    margin: 30px 10px 0 10px;
  }

  .section2 .div{
    background-color: var(--primary-color);
    box-shadow: 1px -1px 7px 1px rgba(0, 0, 0, 0.842);
    border-radius: 5px;
    padding: 5px 10px;
    display: flex;
    flex-direction: column;
  }

  .section2 .div:hover{
    scale: 1.03;
  }

  .div .title{
    color: var(--accent-color);
    font-size: 16px;
    font-weight: bold;
    text-align: center;
  }

  .div .service-icon{
    width: 30px;
    align-self: center;
    fill: var(--secondary-color);
    margin: 10px 0px;
  }

  .div .article-service{
    font-size: 13px;
    color: var(--text-color);
    text-align: center;
  } */

}

@media (375px <= width <= 2560px) {

  .heading-section .name{
    font-size: 15px;
  }

  .heading-section .name span{
    font-size: 20px;
  }

  .heading-section .title{
    font-size: 35px;
  }

  .heading-section .abstract{
    font-size: 13px;
  }

  .button-bg{
    width: 150px;
    height: 50px;
  }

  .button-talk{
    width: 150px;
    height: 50px;
  }
  
  .github-line-img,
  .facebook-box-line-img,
  .linkedin-box-line-img{
    width: 35px;
  }

}